<div class="container">
  <div class="row">
    <div class="col-8-md">
      <input type="checkbox" name="" id="" (change)="toggleCities($event)">
       <span [ngSwitch]="showCities">
        <span *ngSwitchCase="true">{{nlText.t1}}</span>
        <span *ngSwitchCase="false">{{nlText.t2}}</span>
       </span>
      <ul class="list-group" *ngIf="cities && showCities">
        <li *ngFor="let city of cities" class="list-group-item" (click)="showCity(city)">
          {{city.id}} - {{city.name}} ({{provincies[city.province]}})
        </li>
      </ul>
      <div *ngIf="currentCity">
        <img [src]="currentCity.url" [alt]="currentCity.name" class="img-fluid">
      </div>
      <p *ngIf="cities.length > 3">Jij hebt veel favoriete steden zeg....</p>
      <hr>
      <p>Voeg stad toe...</p>
      
      Stad = <input type="text" name="" id="" [(ngModel)]="newCity.name" placeholder="naam van de stad"> <br>
      Provincie = <select [(ngModel)]="newCity.province" >
        <option value="-1" disabled>Kies een provincie...</option>
        <option *ngFor="let item of provincies; let i = index" [value]="i">{{item}}</option>
      </select> <br>
      Image URL = <input type="url" name="" id="" [(ngModel)]="newCity.url"> <br>
      <button (click)="addCity()" class="btn btn-primary" [disabled]="!newCity.name || newCity.province < 0 || !newCity.url">Voeg stad toe</button>

      <hr>
      <app-colorpatches></app-colorpatches>
    </div>
    
  </div>
  
</div>
